<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gardomia - Landscape and Gardening HTML Template + RTL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/preloader.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="assets/css/backToTop.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/ui-range-slider.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/fontAwesome5Pro.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

    <div class="mouseCursor cursor-outer"></div>
    <div class="mouseCursor cursor-inner"><span>Drag</span></div>

    <!-- header area start  -->
    <header class="header1">

        <div id="header-sticky" class="header-main header-main1">
            <div class="container container-big">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12">
                        <div class="header-main-content-wrapper">
                            <div class="header-main-left header-main-left-header1">
                                <div class="header-logo header1-logo">
                                    <a href="index.html" class="logo-bl"><img src="assets/img/logo/11.png" alt="logo-img"></a>
                                </div>
                                <div class="main-menu main-menu1 d-none d-xl-block">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li>
                                                <a href="index.html">Home</a>
                                            </li>
                                            <li><a href="about.html">About</a></li>
                                            <li>
                                                <a href="services.html">Services</a>
                                            </li>
                                            <li>
                                                <a href="blog.html">Profile</a>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="header-main-right header-main-right-header1">
                                <a href="javascript:void(0)" class="action-btn cart-btn d-none d-lg-inline-flex action-item-cart"><i
                              class="fas fa-shopping-basket"></i></a>
                                <a href="contact.html" class="border-btn-rounded d-none d-lg-inline-flex"><i
                              class="fal fa-farm"></i><span>Get a Quote</span></a>
                                <div class="menu-bar d-xl-none">
                                    <a class="side-toggle" href="javascript:void(0)">
                                        <div class="bar-icon">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->

    <!-- Add your site or application content here -->
    <main>


        <!-- side toggle start -->
        <div class="fix">
            <div class="side-info">
                <div class="side-info-content">
                    <div class="offset-widget offset-logo mb-40">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo-bl.png" alt="Logo">
                                </a>
                            </div>
                            <div class="col-3 text-end"><button class="side-info-close"><i class="fal fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu d-xl-none fix"></div>
                    <div class="offset-widget offset_searchbar mb-30">
                        <form action="#" class="filter-search-input">
                            <input type="text" placeholder="Search keyword">
                            <button type="submit"><i class="fal fa-search"></i></button>
                        </form>
                    </div>
                    <div class="offset-widget offset-support mb-30">
                        <div class="footer-support">
                            <div class="irc-item support-meta">
                                <div class="irc-item-icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="irc-item-content">
                                    <p>Emergency Call</p>
                                    <div class="support-number"><a href="tel:98965963168">989 659 631 68</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-widget offset-social mb-30">
                        <div class="footer-social">
                            <span>Connect:</span>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas-overlay"></div>
        <div class="offcanvas-overlay-white"></div>
        <div class="fix">
            <div class="sidebar-action sidebar-cart">
                <button class="close-sidebar">Close<i class="fal fa-times"></i></button>
                <h4 class="sidebar-action-title">Shopping Cart</h4>
                <div class="sidebar-action-list">
                    <div class="sidebar-list-item">
                        <div class="product-image pos-rel">
                            <a href="shop-details.html" class=""><img src="assets/img/product/product-6.png" alt="img"></a>
                        </div>
                        <div class="product-desc">
                            <div class="product-name"><a href="shop-details.html">Giardino Tools</a></div>
                            <div class="product-pricing">
                                <span class="item-number">1 ×</span>
                                <span class="price-now">$24.00</span>
                            </div>
                            <button class="remove-item"><i class="fal fa-times"></i></button>
                        </div>
                    </div>
                    <div class="sidebar-list-item">
                        <div class="product-image pos-rel">
                            <a href="shop-details.html" class=""><img src="assets/img/product/product-8.png" alt="img"></a>
                        </div>
                        <div class="product-desc">
                            <div class="product-name"><a href="shop-details.html">Bloom Season</a></div>
                            <div class="product-pricing">
                                <span class="item-number">1 ×</span>
                                <span class="price-now">$12.00</span>
                            </div>
                            <button class="remove-item"><i class="fal fa-times"></i></button>
                        </div>
                    </div>
                    <div class="sidebar-list-item">
                        <div class="product-image pos-rel">
                            <a href="shop-details.html" class=""><img src="assets/img/product/product-10.png" alt="img"></a>
                        </div>
                        <div class="product-desc">
                            <div class="product-name"><a href="shop-details.html">the best dirt</a></div>
                            <div class="product-pricing">
                                <span class="item-number">1 ×</span>
                                <span class="price-now">$42.00</span>
                            </div>
                            <button class="remove-item"><i class="fal fa-times"></i></button>
                        </div>
                    </div>

                </div>
                <div class="product-price-total">
                    <span>Subtotal :</span>
                    <span class="subtotal-price">$78.00</span>
                </div>
                <div class="sidebar-action-btn">
                    <a href="cart.html" class="fill-btn">View cart</a>
                    <a href="checkout.html" class="border-btn">Checkout</a>
                </div>
            </div>
        </div>


        <!-- side toggle end -->


        <!-- page title area start  -->
        <section class="page-title-area" data-background="assets/img/bg/page-title-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title-wrapper">
                            <p>Provides hassle-free backyard transformation</p>
                            <h1 class="page-title mb-10">blog & insights</h1>

                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <div class="breadcrumb-menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                            <ul class="trail-items">
                                <li class="trail-item trail-begin"><a href="index.html"><span>home</span></a></li>
                                <li class="trail-item trail-end"><span>blog</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- page title area end  -->

        <!-- blog-area start  -->
        <section class="blog-area pt-120 pb-60">
            <div class="container">
                <div class="row wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-xl-9 col-lg-8 col-md-12">
                        <div class="blog-main-wrapper mb-60">
                            <div class="blog-single">
                                <div class="blog-thumb">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog-1.jpg" alt="img not found"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="tags">
                                        <a href="blog.html">Business</a>,
                                        <a href="blog.html">Design</a>
                                    </div>
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="assets/img/blog/blog-author1.jpg" alt="img not found">
                                        </div>
                                        <h4 class="author-name">by <a href="#">Hetmayar</a></h4>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">Service Construct deals physical damage
                                 with his basic attack in the match.</a></h2>
                                    <p>Novia's spaciously two bedroom apartments are perfect for families and even business partners. Look out into the Manhattan skyline from the open fully equipped kitchen.</p>
                                    <div class="hr-1"></div>
                                    <div class="blog-meta-list">
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                100 Views
                                            </div>
                                        </div>
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-comments"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                <a href="blog-details.html">30 Comments</a>
                                            </div>
                                        </div>
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                24th June 2022
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-single">
                                <div class="blog-thumb">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog-2.jpg" alt="img not found"></a>
                                    <a href="https://www.youtube.com/watch?v=fSv6UgCkuTU" class="play-btn popup-video play-border-effect"><i class="fas fa-play"></i></a>
                                </div>
                                <div class="blog-content">
                                    <div class="tags">
                                        <a href="blog.html">Business</a>
                                    </div>
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="assets/img/blog/blog-author1.jpg" alt="img not found">
                                        </div>
                                        <h4 class="author-name">by <a href="#">Stephen</a></h4>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">But he is able to grab the front-most
                                 hero,
                                 truely paralyzing and dealing</a></h2>
                                    <p>Novia's spaciously two bedroom apartments are perfect for families and even business partners. Look out into the Manhattan skyline from the open fully equipped kitchen.</p>
                                    <div class="hr-1"></div>
                                    <div class="blog-meta-list">
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                139 Views
                                            </div>
                                        </div>
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-comments"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                <a href="blog-details.html">15 Comments</a>
                                            </div>
                                        </div>
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                17th June 2022
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-single">
                                <div class="blog-thumb">
                                    <div class="swiper-container blog-thumb-slider">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="blog-details.html"><img src="assets/img/blog/blog-3.jpg" alt="img not found"></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="blog-details.html"><img src="assets/img/blog/blog-3.jpg" alt="img not found"></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="blog-details.html"><img src="assets/img/blog/blog-3.jpg" alt="img not found"></a>
                                            </div>
                                        </div>
                                        <div class="blog-thumb-nav blog-thumb-nav">
                                            <div class="blog-thumb-button-prev blog-thumb-nav-btn"><i class="fal fa-long-arrow-left"></i>
                                            </div>
                                            <div class="blog-thumb-button-next blog-thumb-nav-btn"><i class="fal fa-long-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="tags">
                                        <a href="blog.html">Business</a>,
                                        <a href="blog.html">UX</a>
                                    </div>
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="assets/img/blog/blog-author1.jpg" alt="img not found">
                                        </div>
                                        <h4 class="author-name">by <a href="#">Nelson</a></h4>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">Pure damage for a duration. This ability
                                 is
                                 the only interruptable by stuns</a></h2>
                                    <p>Novia's spaciously two bedroom apartments are perfect for families and even business partners. Look out into the Manhattan skyline from the open fully equipped kitchen.</p>
                                    <div class="hr-1"></div>
                                    <div class="blog-meta-list">
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                150 Views
                                            </div>
                                        </div>
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-comments"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                <a href="blog-details.html">27 Comments</a>
                                            </div>
                                        </div>
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                13th June 2022
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-single">
                                <div class="blog-thumb b-t-overlay bh-115">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog-4.jpg" alt="img not found"></a>
                                    <div class="blog-thumb-icon">
                                        <img src="assets/img/icon/soundcloud-icon.png" alt="img not found">
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="tags d-none">
                                        <a href="blog.html">Business</a>,
                                        <a href="blog.html">UX</a>
                                    </div>
                                    <div class="blog-author d-none">
                                        <div class="author-img">
                                            <img src="assets/img/blog/blog-author1.jpg" alt="img not found">
                                        </div>
                                        <h4 class="author-name">by <a href="#">William</a></h4>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">If any construction company wishes to
                                 commence its business in Bangladesh.</a></h2>
                                    <p>Novia's spaciously two bedroom apartments are perfect for families and even business partners. Look out into the Manhattan skyline from the open fully equipped kitchen.</p>
                                    <div class="hr-1"></div>
                                    <div class="blog-meta-list">
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                159 Views
                                            </div>
                                        </div>
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-comments"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                <a href="blog-details.html">32 Comments</a>
                                            </div>
                                        </div>
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                11th June 2022
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-single">
                                <div class="blog-thumb d-none">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog-3.jpg" alt="img not found"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="tags d-none">
                                        <a href="blog.html">Business</a>,
                                        <a href="blog.html">UX</a>
                                    </div>
                                    <div class="blog-author d-none">
                                        <div class="author-img">
                                            <img src="assets/img/blog/blog-author1.jpg" alt="img not found">
                                        </div>
                                        <h4 class="author-name">by <a href="#">Stephen</a></h4>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">Then they need to establish a company
                                 branch office/partnership.</a></h2>
                                    <p>Novia's spaciously two bedroom apartments are perfect for families and even business partners. Look out into the Manhattan skyline from the open fully equipped kitchen.</p>
                                    <div class="hr-1"></div>
                                    <div class="blog-meta-list">
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                121 Views
                                            </div>
                                        </div>
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-comments"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                <a href="blog-details.html">42 Comments</a>
                                            </div>
                                        </div>
                                        <div class="blog-meta-single">
                                            <div class="blog-meta-icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </div>
                                            <div class="blog-meta-text">
                                                09th June 2022
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blockquote-wrapper">
                                <div class="blockquote-content">
                                    <div class="blockquote-icon">
                                        <img src="assets/img/icon/quote-icon.png" alt="img not found">
                                    </div>
                                    <p>Office/partnership by submitting all the relevant documents</p>
                                </div>
                            </div>
                            <div class="basic-pagination mt-50">
                                <ul>
                                    <li>
                                        <a class="prev page-numbers" href="#">
                                            <i class="fal fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li><span aria-current="page" class="page-numbers current">1</span></li>
                                    <li><a class="page-numbers" href="#">2</a></li>
                                    <li><a class="page-numbers" href="#">3</a></li>
                                    <li>
                                        <a class="page-numbers" href="#">
                                            <i class="fal fa-ellipsis-h"></i>
                                        </a>
                                    </li>
                                    <li><a class="page-numbers" href="#">10</a></li>
                                    <li>
                                        <a class="next page-numbers" href="#">
                                            <i class="fal fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-8">
                        <div class="blog-sidebar_wrapper mb-60">
                            <div class="sidebar-widget sidebar-about mb-50">
                                <h4 class="sidebar-widget-title">About Me</h4>
                                <div class="sidebar-about-content">
                                    <div class="profile-thumb">
                                        <img src="assets/img/team/team-9.jpg" alt="img not found">
                                    </div>
                                    <h4 class="member-name">Alonso D. Dowson</h4>
                                    <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                    <div class="social-links">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget sidebar-search mb-50">
                                <h4 class="sidebar-widget-title">Search Here</h4>
                                <div class="sidebar-search-form">
                                    <input type="text" placeholder="Search your keyword...">
                                    <button><i class="fal fa-search"></i></button>
                                </div>
                            </div>
                            <div class="sidebar-widget sidebar-blog mb-50">
                                <h4 class="sidebar-widget-title">Popular Feeds</h4>
                                <div class="sidebar-blog-list">
                                    <ul>
                                        <li>
                                            <div class="blog-single">
                                                <div class="blog-thumb">
                                                    <a href="blog-details.html"><img src="assets/img/blog/blog-5.jpg" alt="img not found"></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h2 class="blog-title"><a href="blog-details.html">Having education in
                                             an area helps</a></h2>
                                                    <div class="blog-meta-list">
                                                        <div class="blog-meta-single">
                                                            <div class="blog-meta-icon">
                                                                <i class="fas fa-calendar-alt"></i>
                                                            </div>
                                                            <div class="blog-meta-text">
                                                                13th June 2022
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="blog-single">
                                                <div class="blog-thumb">
                                                    <a href="blog-details.html"><img src="assets/img/blog/blog-6.jpg" alt="img not found"></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h2 class="blog-title"><a href="blog-details.html">People think, feel, &
                                             behave in a way</a></h2>
                                                    <div class="blog-meta-list">
                                                        <div class="blog-meta-single">
                                                            <div class="blog-meta-icon">
                                                                <i class="fas fa-calendar-alt"></i>
                                                            </div>
                                                            <div class="blog-meta-text">
                                                                07th June 2022
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="blog-single">
                                                <div class="blog-thumb">
                                                    <a href="blog-details.html"><img src="assets/img/blog/blog-7.jpg" alt="img not found"></a>
                                                </div>
                                                <div class="blog-content">
                                                    <h2 class="blog-title"><a href="blog-details.html">That contributes to
                                             their success</a></h2>
                                                    <div class="blog-meta-list">
                                                        <div class="blog-meta-single">
                                                            <div class="blog-meta-icon">
                                                                <i class="fas fa-calendar-alt"></i>
                                                            </div>
                                                            <div class="blog-meta-text">
                                                                23th May 2022
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget sidebar-category mb-50">
                                <h4 class="sidebar-widget-title">Categories</h4>
                                <div class="sidebar-category-list">
                                    <ul>
                                        <li>
                                            <a href="blog.html">
                                                <span class="category-name">Business</span>
                                                <div class="category-item-number">26</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog.html">
                                                <span class="category-name">Consultant</span>
                                                <div class="category-item-number">30</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog.html">
                                                <span class="category-name">Creative</span>
                                                <div class="category-item-number">71</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog.html">
                                                <span class="category-name">UI/UX</span>
                                                <div class="category-item-number">56</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog.html">
                                                <span class="category-name">Technology</span>
                                                <div class="category-item-number">60</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget sidebar-tags mb-50">
                                <h4 class="sidebar-widget-title">Tags</h4>
                                <div class="sidebar-tag-list">
                                    <a href="#" class="tag">Popular</a>
                                    <a href="#" class="tag">Design</a>
                                    <a href="#" class="tag">UX</a>
                                    <a href="#" class="tag">Usability</a>
                                    <a href="#" class="tag">Develop</a>
                                    <a href="#" class="tag">Icon</a>
                                    <a href="#" class="tag">Business</a>
                                    <a href="#" class="tag">Consult</a>
                                    <a href="#" class="tag">Kit</a>
                                    <a href="#" class="tag">Keyboard</a>
                                    <a href="#" class="tag">Mouse</a>
                                    <a href="#" class="tag">Tech</a>
                                </div>
                            </div>
                            <div class="sidebar-widget sidebar-adv mb-50">
                                <h4 class="sidebar-widget-title">Sponsor Adds</h4>
                                <img src="assets/img/blog/blog-sidebar-adv.jpg" alt="img not found">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-area end  -->





    </main>

    <!-- footer area start  -->
    <footer data-background="" class="footer1-bg">
        <section class="footer-area footer-area1 footer-area1-bg pt-95 pb-55">
            <div class="footer-bg-shape">
                <img src="assets/img/shape/pattern.png" alt="img not found">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget footer1-widget footer1-widget1 mb-40">
                            <div class="footer-widget-title">
                                <h4>about us</h4>
                            </div>
                            <p class="mb-35">Is that lawn is an open space between woods or lawn can be uncountable a type of thin linen or cotton while garden is an outdoor area containing one or more types of plants</p>
                            <div class="footer-support">
                                <div class="irc-item support-meta">
                                    <div class="irc-item-icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="irc-item-content">
                                        <p>Emergency Call</p>
                                        <div class="support-number"><a href="tel:98965963168">989 659 631 68</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget footer1-widget footer1-widget2 mb-40">
                            <div class="footer-widget-title">
                                <h4>main pages</h4>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">services</a></li>
                                <li><a href="#">news</a></li>
                                <li><a href="#">pricing</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">refund policy</a></li>
                                <li><a href="#">Get in touch</a></li>
                                <li><a href="#">Emergency</a></li>
                                <li><a href="#">get a quote</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget footer1-widget footer1-widget3 mb-40 ">
                            <div class="footer-widget-title">
                                <h4>our services</h4>
                            </div>
                            <ul>
                                <li><a href="#">Lawn Moving</a></li>
                                <li><a href="#">Hedge Cutting</a></li>
                                <li><a href="#">Flower Planting</a></li>
                                <li><a href="#">Garden Remodeling</a></li>
                                <li><a href="#">Garden Restoration</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget footer1-widget footer1-widget4 mb-40 ">
                            <div class="footer-widget-title">
                                <h4>get in touch</h4>
                            </div>
                            <div class="footer-contact">
                                <ul>
                                    <li>
                                        <div class="single-contact">
                                            <div class="contact-icon">
                                                <i class="fas fa-phone"></i>
                                            </div>
                                            <p><a href="tel:1-800-700-600">1-800-700-600</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-contact">
                                            <div class="contact-icon">
                                                <i class="fas fa-envelope-open"></i>
                                            </div>
                                            <p><a href="mailto:info@bdevs-email.com">info@bdevs-email.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-contact">
                                            <div class="contact-icon">
                                                <i class="fas fa-map-marked-alt"></i>
                                            </div>
                                            <p><a href="#">60 East 65th Street, New York
                                       City, NY 10065</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-social">
                                <span>Connect:</span>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="copyright-area copyright1-area">
            <div class="container">
                <div class="copyright1-inner">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-4">
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo/logo-w.png" alt="img not found"></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="copyright-text copyright1-text">
                                Copyright & Design By <a href="https://themeforest.net/user/bdevs/portfolio">@BDevs</a> - 2022
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-2">
                            <div class="go-top-btn">
                                <a class="go-top" href="#"><i class="fal fa-long-arrow-up"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end  -->

    <!-- pre loader area start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="loading-icon text-center d-flex flex-column align-items-center justify-content-center">

                    <img src="assets/img/logo/logo-text.png" alt="">
                    <img class="loading-logo" src="assets/img/logo/preloader.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- pre loader area end -->

    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
         <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- back to top end -->


    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/waypoints.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/meanmenu.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="assets/js/parallax.min.js"></script>
    <script src="assets/js/backToTop.js"></script>
    <script src="assets/js/jquery-ui-slider-range.js"></script>
    <script src="assets/js/nice-select.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/beforeafter.jquery-1.0.0.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <div class="header-main-left header-main-left-header1">
        <div class="header-logo header1-logo">
            <a href="index.html" class="logo-bl"><img src="assets/img/logo/logo-w-bg.png" alt="logo-img"></a>
        </div>
        <div class="main-menu main-menu1 d-none d-xl-block">
            <nav id="mobile-menu">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="assets/js/main.js"></script>
</body>


</html>